/** @format */

.ie10
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item,
.ie8
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item,
.ie9
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item {
	display: inline-block;
}
.ie7
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item {
	float: left;
	margin-right: 10px;
}
.ie10
	#main-container
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item,
.ie8
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item,
.ie9
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item {
	display: inline-block;
}
.ie7
	#main-container
	#player.original.mainPlayerDiv.wide
	.video-wrapper #player.wide
	.video-actions-menu
	.tab-menu-wrapper-table
	.tab-menu-wrapper-row
	.tab-menu-wrapper-cell
	.tab-menu-item {
	float: left;
	margin-right: 10px;
}
html.supportsGridLayout.fluidContainer .networkBar {
	min-width: 991px;
	max-width: 1323px;
	width: 96%;
	margin: 0 auto;
	display: none;
}
html.supportsGridLayout.fluidContainer .networkBar {
	min-width: 991px;
	max-width: 1323px;
	width: 96%;
	margin: 0 auto;
	display: none;
}
#player.original.mainPlayerDiv.wide
body.ageModalUk .containerMTubes.ageModal-uk {
	background-color: #000;
}
@supports (filter: blur(25px)) or (-webkit-filter: blur(25px)) or
	(-ms-filter: blur(25px)) or (-o-filter: blur(25px)) or
	(-moz-filter: blur(25px)) {
	body.ageModalUk #backgroundLayer,
	body.ageModalUk .footerContentWrapper.style.display = 'block;',
	body.ageModalUk .js-networkBar.style.display = 'block;',
	body.ageModalUk .networkBar.style.display = 'block;',
	body.ageModalUk .wrapper {
		-moz-filter: blur(25px);
		-o-filter: blur(25px);
		-ms-filter: blur(25px);
		-webkit-filter: blur(25px);
		filter: blur(25px);
	}
	body.ageModalUk .containerMTubes.ageModal-uk {
		background-color: rgba(0, 0, 0, 0.75);
	}
}
